# Compiled binaries and debug symbols
*.exe
*.ilk
*.pdb
*.obj
*.o
*.ll
bin/
runtime/lpp-net/target/

# Local test artifacts & databases
artifacts/
test_db_*/
*.aof
*.wal
*.sst
LppData/
.lpp/
.agents/
.agents/mcp_config.json
